<div class="mditor_fullScreen">
	<div class="mditor_toolBar">
		<div class="mditor_tool_side">
			<a href="javascript:void(0)" title="预览" data-action="preview" class="mditor_preview"><i class="icon-view"></i></a>
			<a href="javascript:void(0)" title="退出全屏" data-action="exist_fullscreen"><i class="icon-exist_fullscreen"></i></a>
		</div>
		<div class="mditor_tool_main">
			<a href="javascript:void(0)" title="加粗" data-action="bold"><i class="icon-bold">B</i></a>
			<a href="javascript:void(0)" title="斜体" data-action="italic" ><i class="icon-italic">I</i></a>
			<a href="javascript:void(0)" title="链接" data-action="link"><i class="icon-link">link</i></a>
			<a href="javascript:void(0)" title="图片" data-action="image"><i class="icon-image">img</i></a>
			<a href="javascript:void(0)" title="代码" data-action="code"><i class="icon-code"></></i></a>
		</div>
	</div>
	<div class="mditor_main">
		<div class="mditor_input">
			<textarea>{content}</textarea>
		</div>
		<div class="mditor_view">
			<div class="mditor_viewer"><div class="md_html"></div></div>
		</div>
	</div>
</div>