<div class="mditor-mini">
  <div class="mditor-mini-bar">
    <div class="mditor-mini-tab">
      <a href="javascript:void(0)" title="编辑" class="mditor-btn mditor-btn-edit active"><i class="mditor-icon "></i><span>编辑</span></a>
      <a href="javascript:void(0)" title="预览" class="mditor-btn mditor-btn-preview"><i class="mditor-icon "></i><span>预览</span></a>
    </div>
    <div class="mditor-mini-side">
      <a href="javascript:void(0)" title="帮助" class="mditor-link mditor-help">help</a>
      <a href="javascript:void(0)" title="全屏" class="mditor-btn mditor-btn-full"><i class="mditor-icon "></i></a>
    </div>
  </div>
  <div class="mditor-mini-preview"></div>
</div>