<div class="mditor-mini">
  <div class="mditor-mini-bar">
    <div class="mditor-mini-tab">
      <a href="javascript:void(0)" title="编辑" class="mditor-btn mditor-btn-edit active"><i class="mditor-icon "></i><span>编辑</span></a>
      <a href="javascript:void(0)" title="预览" class="mditor-btn mditor-btn-preview"><i class="mditor-icon "></i><span>预览</span></a>
    </div>
    <div class="mditor-mini-side">
      <a href="javascript:void(0)" title="帮助" class="mditor-link mditor-help">help</a>
      <a href="javascript:void(0)" title="全屏" class="mditor-btn mditor-btn-full"><i class="mditor-icon "></i></a>
    </div>
  </div>
  <div class="mditor-mini-preview"></div>
  <div class="mditor-mini-help">
  	<a href="javascript:void(0)" class="mditor-close">×</a>
  	<div class="mditor-help-txt">
			<h3>快捷键</h3>
			<p><b>撤销</b>Ctrl + Z</p>
			<p><b>恢复</b>Ctrl + Y</p>
			<p><b>加粗</b>Ctrl + B</p>
			<p><b>斜体</b>Ctrl + I</p>
			<p><b>链接</b>Ctrl + L</p>
			<p><b>图片</b>Ctrl + G</p>
			<p><b>代码</b>Ctrl + Shift + K</p>
			<p><b>代码块</b>Ctrl + K</p>
		</div>
  </div>
</div>