<div class="mditor_miniBar">
	<a href="javascript:void(0)" title="加粗" data-btn="bold"><i class="icon-bold"></i></a>
	<a href="javascript:void(0)" title="斜体" data-btn="italic" ><i class="icon-italic"></i></a>
	<a href="javascript:void(0)" title="链接" data-btn="link"><i class="icon-link"></i></a>
	<a href="javascript:void(0)" title="图片" data-btn="image"><i class="icon-image"></i></a>
	<a href="javascript:void(0)" title="代码" data-btn="code"><i class="icon-code"></i></a>
	<a href="javascript:void(0)" title="撤销"><i class="icon-undo"></i></a>
	<a href="javascript:void(0)" title="重做"><i class="icon-redo"></i></a>
	<a href="javascript:void(0)" title="全屏" data-btn="fullscreen" style="float: right;"><i class="icon-fullscreen"></i></a>
</div>