<div class="mditor-mini">
  <div class="mditor-mini-bar">
    <div class="mditor-mini-tab">
      <a href="javascript:void(0)" title="编辑" class="mditor-btn mditor-btn-edit active"><i class="mditor-icon "></i><span>编辑</span></a>
      <a href="javascript:void(0)" title="预览" class="mditor-btn mditor-btn-preview"><i class="mditor-icon "></i><span>预览</span></a>
    </div>
    <div class="mditor-mini-side">
      <a href="javascript:void(0)" title="帮助" class="mditor-link mditor-help">help</a>
      <a href="javascript:void(0)" title="全屏" class="mditor-btn mditor-btn-full"><i class="mditor-icon "></i></a>
    </div>
  </div>
  <div class="mditor-mini-preview"></div>
  <div class="mditor-mini-help">
  	<a href="javascript:void(0)" class="mditor-close">×</a>
  	<ul>
			<li>撤销 <code>Ctrl + z</code></li>
			<li>恢复 <code>Ctrl + y</code></li>
			<li><strong>加粗文字</strong> <code>Ctrl + B</code></li>
			<li><em>斜体文字</em> <code>Ctrl + I</code></li>
			<li>链接 <code>Ctrl + L</code></li>
			<li>图片 <code>Ctrl + G</code></li>
			<li><code>code</code> <code>Ctrl + Shift + K</code></li>
			<li>代码块 <code>Ctrl + K</code>：</li>
		</ul>
  </div>
</div>