body{
  overflow-y: scroll;
  font-family: "Microsoft Yahei";
  margin: 0;
  padding: 0;
}

.introduce{
  padding: 50px 0;
}
.wrapper{
  width: 700px;
  margin: auto;
}
@media (max-width: 800px){
  .wrapper{
    width: auto;
    margin: 0 20px;
  }
}

.section{
  padding: 50px 0;
}
.sectionA{
  background :#06a; 
}

.sectionA .header{
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}
.sectionA .header h1{
  margin: 1em 0 .3em;
  font-size: 40px;
  font-weight: normal;
}
.sectionA textarea{
  width: 400px;
  height: 200px;
}
.sectionA input{
  border: none;
  padding: 0 2em;
  background: #fff;
  line-height: 30px;
  font-family: inherit;
  font-size: 12px;
}
.sectionA .mditor-mini{
  border:none;
}
.sectionB{
  padding: 30px 0;
  background: #f4f4f4;
}
.sectionB h3{
  margin: 0 0 .5em;
  font-size: 16px;
  font-weight: normal;
}
.sectionB p{
  margin: 0;
  font-size: 12px;
}

.btn {
  display: inline-block;
  min-width: 40px;
  height: 32px;
  padding: 0 1em;
  line-height: 33px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  white-space: nowrap;
  outline: none;
  text-decoration: none;
  background: #fa7d3c;
  background: -moz-linear-gradient(top, #fa7d3c 0%, #f55f10 100%);
  background: -webkit-linear-gradient(top, #fa7d3c 0%, #f55f10 100%);
  background: -o-linear-gradient(top, #fa7d3c 0%, #f55f10 100%);
  background: -ms-linear-gradient(top, #fa7d3c 0%, #f55f10 100%);
  background: linear-gradient(top bottom, #fa7d3c 0%, #f55f10 100%);
  transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -webkit-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background: #f4722e;
  background: -moz-linear-gradient(top, #f4722e 0%, #f05807 100%);
  background: -webkit-linear-gradient(top, #f4722e 0%, #f05807 100%);
  background: -o-linear-gradient(top, #f4722e 0%, #f05807 100%);
  background: -ms-linear-gradient(top, #f4722e 0%, #f05807 100%);
  background: linear-gradient(top bottom, #f4722e 0%, #f05807 100%);
}