.mditor_fullScreen {
	background: #444;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 50000;
	font-family: "Microsoft Yahei";
}
.mditor_fullScreen textarea::selection{
	background: #000;
}
.mditor_fullScreen textarea::-moz-selection{
	background: #000;
}
.mditor_toolBar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0;
}

.exist_fullscreen {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 20px;
    text-align: center;
    text-decoration: none;
    color: #aaa;
    font: bold 28px/40px "simsun";
    transition: 0.1s;
}

.exist_fullscreen:hover {
	background: #eee;
	color: #333;
}

.exist_fullscreen:active {
	background: #aaa;
	color: #fff;
}

.mditor_input {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50%;
	height: 100%;
}

.mditor_input textarea {
	position: absolute;
	display: block;
	box-sizing: border-box;
	top: 0;
	left:  0;
	width: 100%;
	height: 100%;
	margin: 0px;
  padding: 20px 15px 20px 26px;
	border: none;
	resize: none;
	background: #232323;
	color: #e6e1dc;
	font-size: 16px;
	font-family: inherit;
	line-height: 1.6;
}

.mditor_input textarea:focus {
	box-shadow: 1px 1px 10px #000;
	outline: none;
}

.mditor_view {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50%;
	height: 100%;
	overflow: auto;
	background: #fff;
}

.mditor_view .md_html {
	padding: 20px;
}

.mditor_miniBar{
    line-height: 30px;
    padding: 0 2em;
    background: #fff;
}
@media screen and (max-width: 700px){
	.mditor_input{width: 100%;}
	.mditor_view{width: 100%;display: none;}
	.mditor_preview{visibility:visible;}
	.mditor_viewer{left:0px;}
}